<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">
    <title>博客中心</title>
    <link rel="stylesheet" href="stylesheets/jumbotron.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="stylesheets/docs.css"/>
</head>
<body ng-controller="categoryController">
<% include ./header.ejs %>
<div class="container" style="padding: 0;margin: 0;width: 100%">
    <% include ./menu_nav.ejs %>
    <div class="main" style="width: 83.3%;float: left">
        <h1 class="page-header">文章分类</h1>
        <div class="table-responsive">
            <table class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th><input type="checkbox"/></th>
                    <th>类别Id</th>
                    <th>类别名称</th>
                    <th>是否公开</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td><input type="checkbox"/></td>
                    <td ng-bind="item.CategoryId"></td>
                    <td ng-bind="item.CategoryName"></td>
                    <td ng-bind='item.IsPublic==true?"公开":""'></td>
                    <td ng-bind='item.AddTime | date:"yyyy-MM-dd"'></td>
                    <td><a href="javascript:void(0);" class="btn-link">修改</a><a href="javascript:void(0);" class="btn-link col-sm-offset-1">删除</a></td>
                </tr>
                </tbody>
            </table>
            <nav page>
                <!--<ul class="pagination">

                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                    <li><a href="#">尾页</a></li>
                </ul>-->
            </nav>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" data-main="javascripts/app.js" src="javascripts/lib/require.js"></script>
</html>