<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">
    <title>上善若水</title>
    <link rel="stylesheet" href="stylesheets/jumbotron.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/login.css"/>
</head>
<body>
<% include ./header.ejs %>
<div class="container">
    <form class="form-signin" ng-controller="loginController">
        <h2 class="form-signin-heading">Please Sign In</h2>

        <div class="form-group">
            <label for="inputEmail" class="sr-only">login name</label>
            <input type="text" id="loginName" class="form-control" ng-model="userModel.userName" placeholder="login name" autofocus>
            <div class="col-sm-7">
                <label class="control-label alert-warning" style="padding: 6px;" ng-show="userModel.isShowUserNameError" ng-bind="userModel.userNameError"></label>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" ng-model="userModel.password" class="form-control" placeholder="Password">
            <div class="col-sm-7">
                <label class="control-label alert-warning" style="padding: 6px;" ng-show="userModel.isShowPasswordError" ng-bind="userModel.passwordError"></label>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 自动登陆
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">登录</button>
    </form>
</div>
<!-- /container -->
</body>
</html>
<script type="text/javascript" data-main="javascripts/app.js" src="javascripts/lib/require.js"></script>