<div class="panel panel-default col-lg-2" style="padding: 0;float: left;">
    <div class="panel-heading">文章分类</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">分类列表<span style="margin-left: 96px;">></span></a></li>
            <li><a href="#">添加分类<span style="display: none;margin-left: 96px;">></span></a></li>
        </ul>
    </div>
    <div class="panel-heading">相册管理</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">相册列表<span style="margin-left: 96px;">></span></a></li>
            <li><a href="#">添加相册<span style="display: none;margin-left: 96px;">></span></a></li>
        </ul>
    </div>
    <div class="panel-heading">文章管理</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">文章列表<span style="margin-left: 96px;">></span></a></li>
            <li><a href="#">添加文章<span style="display: none;margin-left: 96px;">></span></a></li>
        </ul>
    </div>
</div>
<div style="float: left;width: 83.3%;">
    <nav class="navbar navbar-nav" style="padding: 0;width: 100%;">
        <ul class="nav nav-pills" style="background:#e8e8e8;">
            <li><a href="#">首页</a></li>
            <li><a href="#">我的博客</a></li>
            <li><a href="#">个人中心</a></li>
        </ul>
    </nav>
</div>