<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ngRepeat</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
</head>
<body>
<div class="container" ng-controller="ngRepeatController">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>商品分类</th>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>购买数量</th>
            <th>商品单价</th>
            <th>商品总价</th>
        </tr>
        </thead>
        <tbody ng-repeat="item1 in ngRepeatItems">
        <tr ng-repeat="item2 in item1.list">
            <td ng-if="$index==0" rowspan="{{item1.list.length}}">{{item1.name}}</td>
            <td>
                {{item2.id}}
            </td>
            <td>
                {{item2.name}}
            </td>
            <td>
                {{item2.quantity}}
            </td>
            <td>
                {{item2.price}}
            </td>
            <td>
                {{item2.quantity*item2.price}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" data-main="javascripts/app.js" src="javascripts/lib/require.js"></script>
</html>
