<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">
    <title>上善若水</title>
    <link rel="stylesheet" href="stylesheets/jumbotron.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
</head>

<body>
<% include ./header.ejs %>
<div class="container" ng-controller="registerController">
    <h2>用户注册</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label letter_spacing" for="email" style="text-align: left;">邮          箱：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="email" placeholder="your email" ng-trim="true" ng-model="register.email" ng-blur="check('email')">
            </div>
            <div class="col-sm-7">
                <label class="control-label alert-warning" style="padding: 6px;" ng-init="register.emailStatus=false"  ng-show="register.emailStatus"  ng-bind="register.emailMsg"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="loginName" style="text-align: left;">用户登录名：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="loginName" ng-trim="true" ng-model="register.loginName" ng-blur="check('loginName')">
            </div>
            <div class="col-sm-7">
                <label class="control-label alert-warning" style="padding: 6px;" ng-init="register.loginNameStatus=false"  ng-show="register.loginNameStatus"  ng-bind="register.loginNameMsg"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="showName" style="text-align: left;">显  示  名  称：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="showName" ng-trim="true" ng-model="register.showName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label letter_spacing" for="password" style="text-align: left;">密          码：</label>
            <div class="col-sm-3">
                <input class="form-control" type="password" id="password" ng-trim="true" ng-model="register.password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label letter_spacing" for="confirmPassword" style="text-align: left;">确 认 密 码：</label>
            <div class="col-sm-3">
                <input class="form-control" type="password" id="confirmPassword" ng-trim="true" ng-model="register.confirmPassword" ng-blur="check('password')">
            </div>
            <div class="col-sm-7">
                <label class="control-label alert-warning" style="padding: 6px;" ng-init="register.passwordStatus=false"  ng-show="register.passwordStatus"  ng-bind="register.passwordMsg"></label>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 0;">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-3">
                <img ng-src="{{validcodeUrl}}"/><a href="javascript:void(0);" style="margin-left: 6px;" ng-click="refresh()">刷新</a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label letter_spacing" for="validCode" style="text-align: left;">验   证   码：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="validCode" ng-model="register.validCode">
            </div>
            <div class="col-sm-7">
                <label class="control-label alert-warning" style="padding: 6px;" role="alert" ng-init="register.validCodeStatus=false"  ng-show="register.validCodeStatus" ng-bind="register.validCodeMsg"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-3">
                <button class="btn-group col-sm-5" id="btn_register" ng-click="registUser()">注册</button>
            </div>
        </div>
    </form>
    <footer>
        <p>&copy; Company 2015</p>
    </footer>
</div>
<!-- /container -->
</body>
<script type="text/javascript" data-main="javascripts/app.js" src="javascripts/lib/require.js"></script>
</html>
