/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.letter_spacing{
    white-space: pre;
}
.form-position{
    position: relative;
    height: 116px;
}
.label-position{
    position: absolute;
    left: 0;
    bottom: 0;
}